	
<div class="container">

	<div class="page-header">
  		<h1><%= @user.name%>  <small>...it's all about you!</small></h1>
	</div>

<h4><%= @user.bio %></h4>
<small>Your contact email>> <%= mail_to @user.email %></small>
</br>

<div class="media">
  <div class="media-left">
      		<% if @user.avatar? %>
			<%= image_tag (@user.avatar.large.url), class: 'pull-left' %>
			<% end %>
  </div>
  
	<div class="media-body">
		<div class="panel panel-info">
		  	<div class="panel-heading">Your profile</div>
				<div class="panel-body">
			    <p><%= @user.about %></p>
		  		</div>
			</div> 
		</div>
	</div>

</div>

</br>

<div class="container">

	<div class="form-group">
        <p><span class="glyphicon glyphicon-fire"></span><small> Why not <%= link_to "add some personality", edit_user_registration_path %> to your profile?</small></p>
    </div>


<div class="row">
	<div class="col-md-8">
		<h4>Your items:</h4></br>
		<%= render partial: 'items/item', locals: {item: @item} %>
	</div>
</div>

</br>

<div class="row">
	<div class="col-md-8">
		<h4>Create a new item:</h4>
		<%= render 'items/form' %>
	</div>
</div>
</div>

