
<div class="container">

	<div class="page-header">
  		<h1><%= @user.name%>  <small>...it's all about you!</small></h1>
	</div>

<h4><%= @user.bio %></h4>
<small>Your contact email>> <%= mail_to @user.email %></small>
</br>

<div class="media">
  <div class="media-left">
      		<% if @user.avatar? %>
			<%= image_tag (@user.avatar.large.url), class: 'pull-left' %>
			<% end %>
  </div>
  
	<div class="media-body">
		<div class="panel panel-info">
		  	<div class="panel-heading">Your profile</div>
				<div class="panel-body">
			    <p><%= @user.about %></p>
		  		</div>
			</div> 
		</div>
	</div>

</div>

</br>

<div class="container">

<h4>You can update your profile by...</h4>
    <div class="form-group">
        <p><%= link_to "...adding some personality", edit_user_registration_path, class: 'btn btn-primary' %></p>

</div>

<div class="row">
	<div class="col-md-8">
		<h4>Your items:</h4></br>
		<%= render partial: 'items/item', locals: {item: @item} %>
	</div>
</div>

</br>
<h4>Create a new item:</h4>
<div class="row">
	<div class="col-md-8">
		<%= render partial: 'items/form', locals: { item: @item, user: @user} %>
	</div>
</div>


